@import url("styles/global.css");


body {
  font-family: "Bariol Bold", Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, p {
  text-align: center;
}

.sticky {
  position: fixed;
  background-color: var(--background-color);
  border-bottom: 0.1rem solid rgba(48, 48, 48, 0.1);
}

nav {
  font-size: 1.8rem;
  box-shadow: 0.0rem 0.0rem 0.0rem 0.0rem rgba(0, 0, 0, 0.2);
}

.menu {
  display: none;
}

.menu a {
  display: none;
}

header {
  margin: 0rem 0 1rem 0;
}

.chevron-menu {
	border-style: solid;
	border-width: 0.35rem 0.35rem 0 0;
	content: '';
	display: inline-block;
	height: 1rem;
	left: 0.15rem;
	position: relative;
	top: 0.6rem;
	transform: rotate(135deg);
	vertical-align: top;
  width: 1rem;
}

.titre-page {
  font-size: 6rem;
}

.topmenu {
	top: 1rem;
  transform: rotate(-45deg);
}

.logo {
  height: 3rem;
  justify-content: flex-start;
  align-content: center;
  margin-top: 1rem;
}

.logo img {
  height: 12rem;
}

.search-menu {
  justify-content: flex-end;
  margin-left: 1rem;
  align-items: center;
  padding-right: 2rem;
  padding-top: 2rem;
}

.search-menu div {
  margin-left: 1rem;
}

.social-network img {
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
}

.social-network img:hover {
  filter: invert(0.1);
}

.search-box input {
  width: 220px;
  border: 1px solid var(--primary-color);
  height: 3.5rem;
  padding: 0 3rem 0 1.2rem;
  border-radius: 1.5rem;
  color: var(--primary-color);
  background: #f5f8fa url("images/search.svg") no-repeat 190px center;
}

.dropdownmenu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 4rem;
}

.dropdownmenu li {
	float: left;
	position: relative;
  width:auto;
  list-style: none;
}
.dropdownmenu a {
	color:var(--primary-color);
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
	
}

.dropdownmenu li a {
  margin-top: 0rem;
}

.dropdownmenu li a:hover {
  background-color: rgba(39, 76, 82, 0.1);
  border-radius: 1.5rem;
}

.dropdownmenu li:hover a>first-child {
  border: none;
}


#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 3.5rem;
	visibility: hidden;
  z-index: 1;
  margin-top: 1rem;
}
li:hover ul#submenu {
	opacity: 1;	
  visibility: visible;
}

#submenu li {
	float: none;
  width: 100%;
}
#submenu a{
  border: none;
  width: 30rem;
  border-radius: 0rem;
}

#submenu a:hover {
  color:var(--primary-color);
}
#submenu a {
  color:var(--background-color);
	background-color:var(--secondary-color);
}

/* banner--------------------------------------------*/

div.banner {
  height: 50rem;
  width: 100%;
  background-image: linear-gradient(rgba(48, 48, 48, 0.5), rgba(48, 48, 48, 0.5)),
  url("images/foto1.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: var(--background-color);
}

div.banner div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 30rem;
}

div.banner div p {
  margin-bottom: 4rem;
  font-size: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 1360px;
}

.description-chiffres {
  margin-top: 3rem;
}


div.chiffres {
  width: 60rem;
}

.description-accueil {
  max-width: 70rem;
}

.description-accueil p {
  line-height: 3rem;
  font-family: Helvetica, sans-serif;
  text-align: left;
}


.margin1rem {
  margin: 1rem;
}

.container-je-souhaite h1 {
  text-align: center;
}



div.je-souhaite div div {
  width: 20rem;
  height: 20rem;
  background-color: var(--secondary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.je-souhaite div div img {
  width: 12rem;
  height: 12rem;
  color: var(--background-color);
}

.inscrire {
  margin-left: 1.5rem;
}

div.je-souhaite div p {
  font-size: 2rem;
  width: 35rem;
  word-wrap: break-word;
}

.blog-coup-de-coeur {
  display: flex;
  flex-wrap: wrap;
  max-width: 150rem;
}

.blog-coup-de-coeur div {
  margin-left: 1rem;
}

.blog-coup-de-coeur div:first-child {
  margin-left: 0rem;
}

.blog-coup-de-coeur div img {
  z-index: -1;
}

.blog-coup-de-coeur div p {
  margin-top: -6rem;
  max-width: 40rem;
  z-index: 2;
  color: var(--background-color);
}

.markdown-circle:hover {
  fill: var(--violet-color);
  stroke: var(--yellow-color);
}

.markdown:hover {
  fill: var(--yellow-color);
  stroke: var(--yellow-color);
}

.circle-box {
  margin: 1rem;
  height: 8rem;
  background-image: linear-gradient(rgba(48, 48, 48, 0.5), rgba(48, 48, 48, 0.5)),
  url("images/foto1.jpg");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;  
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  max-width: 40rem;
  
}

.circle-box:hover  {
  background-image: none;
  background-color: var(--secondary-color);
}

.circle-box .active {
  background-image: none;
  background-color: var(--secondary-color);
}

.circle-box p {
  font-size: 2rem;
  color: var(--background-color);
  margin-left: 3rem;
  margin-right: 3rem;
  letter-spacing: 0.3rem;
}

.d-flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.f-direction-column {
  flex-direction: column;
}

.f-direction-row {
  flex-direction: row;
}

.f-wrap {
  flex-wrap: wrap;
}



.d-flex {
  display: flex;
}

.j-content-center {
  justify-content: center;
}

.width100 {
  width: 100%;
}

.j-content-around {
  justify-content: space-around;
}

.j-content-evenly {
  justify-content: space-evenly;
}

.a-items-center {
  align-items: center;
}

.jesouhaite {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.d-flex-begin {
  display: flex;
  flex-wrap: wrap;
}


.chiffres-actuel {
  color: var(--secondary-color);
  font-weight: bold;
}

.carte {
  height: 75rem;
  width: auto;
}

.flex-center-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

img {
  border-radius: 5px;
}

.margin-top6 {
  margin-top: 6rem;
}

.margin-bottom3 {
  margin-bottom: 3rem;
}

.margin-bottom1 {
  margin-bottom: 1rem;
}

.font-size6 {
  font-size: 6rem;
}

footer {
  width: 100%;
  height: auto;
  font-family: "Bariol Bold", Helvetica, sans-serif;
}

.footer {
  flex-direction: row;
  justify-content: space-around;
  
}

.partner-img {
  width: 20rem;
  margin: 1rem;
}

.partners-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

button {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  height: auto;
  width: 30rem;
  border-radius: 5px;
  font-size: 2rem;
  color: var(--background-color);
  font-family: "Bariol Bold", Helvetica, sans-serif;
  
  padding: 1.5rem 0.5rem 1.5rem 0.5rem;
}

.a-self-center {
  align-self: center;
}

footer button {
  background-color: var(--violet-color);
  width: 20rem;
}

footer button:hover {
  color: var(--yellow-color);
}

.background-bleu {
    background-color: var(--secondary-color);
    width: 100%;
    color: var(--background-color);
    font-family: Helvetica, sans-serif;
    font-size: 1.6rem;
    padding: 3rem 0 3rem 0;
}

.sommes-membres h3 {
  font-size: 3rem;
  font-family: "Bariol Bold", Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}


@media(max-width: 1360px) {

  .content {
    width: 1100px;
  }

  .logo img {
    height: 11rem;
    margin-left: 1rem;
  }
 
}

@media(max-width: 1300px) {
  .blog-coup-de-coeur {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .blog-coup-de-coeur  div {
    margin-top: 5rem;
    margin-left: 0;
  }
  
  .blog-coup-de-coeur div:first-child {
    margin-top: 0rem;
  }

  .carte {
    height: 50rem;
  }

}

@media(max-width: 1100px) {

  .content {
    width: 100%;
  padding: 0 2rem 0 2rem;
  }
  
  .logo {
    height: 8rem;
    
  }

  .logo img {
    height: 8rem;
    
  }
  
  nav {
    display: none;
  }

  .menu {
    display: inherit;
    align-items: center;
  }

  .menu a {
    display: inherit;
  }

  header .menu.open {
    position: fixed;
    z-index: 2;
    top: 2.7rem;
    right: 2rem;
  }

  header .menu.open + nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: var(--background-color);
  }

  .navigation {
   padding-top: 10rem; 
  }

  .dropdownmenu {
    flex-direction: column;
  }

  .search-menu {
    flex-direction: column;
  }

  .search-menu div:first-child {
    padding-bottom: 1rem;
  }

  .dropdownmenu li {
    width: 30rem;
  }

  .description-chiffres {
    flex-direction: column;
  }

  .chiffres {
    order: 2;
    align-self: center;
  }

  .description-accueil {
    max-width: 100vw;
  }

  .font-size6 {
    font-size: 4rem;
  }

  div.je-souhaite div p {
    font-size: 2rem;
  }

  div.je-souhaite div div {
    width: 15rem;
    height: 15rem;
  }

  div.je-souhaite div div img {
    width: 8rem;
    height: 8rem;
  }
}

@media(max-width: 970px) {
  .jesouhaite {
    display: flex;
    flex-direction: column;
  }

  .carte-sengager-section {
    display: flex;
    justify-content: center;
  }
  


  footer div.d-flex {
    flex-wrap: wrap;
  }

}




@media(max-width: 720px) {
  .chiffres-titres {
    flex-direction: column;
  }

  div.je-souhaite div div {
    width: 12rem;
    height: 12rem;
  }

  div.je-souhaite div div img {
    width: 6rem;
    height: 6rem;
  }

  .partners-container {
    width: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .carte {
    height: 40rem;
  }

  div.chiffres {
    width: auto;
  }
  
}